._text-crimson {
  color: $crimson-darker !important;
}

._text-crimson-light {
  color: $crimson !important;
}

._text-jade {
  color: $jade-darker !important;
}

._text-sky {
  color: $sky-darker !important;
}

._text-primary-light {
  color: $primary-light !important;
}

._text-primary {
  color: $primary !important;
}

._text-pumpkin {
  color: $pumpkin-darker !important;
}

._text-pumpkin-light {
  color: $pumpkin-light !important;
}

._text-snow {
  color: rgb(255, 255, 255) !important;
}

._text-ash {
  color: $ash-dark !important;
}

._text-center {
  text-align: center !important;
}

._text-left {
  text-align: left !important;
}

._text-right {
  text-align: right !important;
}

._text-strong {
  font-weight: bold !important;
}

._text-capitalize {
  text-transform: capitalize !important;
}

.-text-sm {
  font-size: 14px !important;
}

.-text-md {
  font-size: 25px !important;
}

.-text-xl {
  font-size: 40px !important;
}
